$header-color: rgba(188, 222, 225, 1);
$underline-color: rgba(22, 22, 22, 1);
$black-color: rgba(38, 38, 38, 1);
$page-color: rgba(39, 149, 158, 1);
$white-color: rgba(255, 255, 255, 1);
$gray-color: rgba(109, 109, 109, 1);

